.colorScale {
  background: linear-gradient(45deg, #29e3d6, #212529);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: inline-block;
}
